[tool.poetry]
name = "prometrix"
version = "0.1.11"
description = ""
authors = ["Avi Kotlicky <kotlickya@gmail.com>"]
readme = "README.md"
packages = [{include = "prometrix"}]

[tool.poetry.dependencies]
python = "^3.8"
boto3 = "^1.28.15"
botocore = "^1.31.15"
pydantic = "^1.8.1"
prometheus-api-client = "^0.5.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
